# Data
data/raw/
data/processed/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/

# Models
models/*.pt
models/*.pth

# Environment
venv/
env/

# IDE
.vscode/
.idea/

# System
.DS_Store
